@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html,body{
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}
body {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}
/* main {

    background-color: var(--dark-color)
} */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
 nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}

header {
    background-color: var(--lighting-color);
    position: sticky;
    top: 0;
    z-index: 1;
}
nav ul {
    display: flex;
    gap: 20px;
}
.logo {
    font-size: 36px;
    font-weight: 800;
}
nav li {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in-out;
}
nav li:hover{
    border-bottom: 1px solid var(--secondary-color);
    transition: 0.3s ease-in-out;
}
section{
    scroll-margin-top: 50px;
}
section#hero {
    background-color: var(--dark-color);
    padding: 40px 0;
    border-bottom:4px solid var(--lighting-color) ;
}
#hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-content {
    display: grid;
    place-items: center;
}
h1 {
    font-size: 30px;
    font-weight: bold;
}
span.hi-txt {
    font-size: 60px;
    font-weight: bold;
    color: var(--secondary-color);
}
span.name-txt {
    font-size: 50px;
}
#hero h2 {
    font-size: 40px;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }

    /* -------Project Section------- */
  }
section#project {
    background-color: var(--darker-color);
    padding: 40px 0;
}
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    transition:  1s ease-in-out;
}
.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
.card:hover .card-content {
    background-color: white;
    color: var(--dark-color);
    transform: translateY(0px);
}
.card-content {
    padding: 20px;
    position: relative;
    top: -65px;
    margin-bottom: -65px;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}
.card-content h3 {
    text-align: center;
}
#project h2 {
    font-size: 60px;
    text-align: center;
}
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
}
.grid-item {
    margin: 0 auto;
}
/* -----contact section------- */

section#contact {
    background-color: var(--dark-color);
}
#contact .container {
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
#contact h2 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 20px 0;
}
.top-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 600px;
    margin: 20px auto;
}
.contact_way {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact_way i {
    font-size: 30px;
}
.contact_way h3 {
    font-size: 30px;
    font-weight: bold;
}
.bottom_contact {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 30px;
}
footer {
    background-color: var(--darker-color);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
@media (max-width:768px) {
    html{
        font-size: 7px;
        
    }
    .hero-content span{
        font-size: 30px;
    }
    .logo{
        font-size: 20px;
    }
    #project h2{
        font-size: 40px;
    }
    nav li{
        font-size: 10px;
    }
    .hero-content h2{
        font-size: 15px !important;
    }
    .hero-content h1{
        font-size: 14px;
    }
    .img-fluid{
        width: 100%;
    }
    .project-container{
        display: block;
    }
    #hero .container {
        display:block;
    }
    .hero-image {
        display: block;
        place-items: center;
        width: 100%;
    
    }
    .top-contact {
       display: block;
    }
    .bottom_contact{
        display: block;
        text-align: center;
    }
    #contact h2{
        font-size:40px;
    }
}

@media (max-width:430px) {
    html{
        font-size: 5px;
    }
    .img-fluid{
        width: 100%;
    }
    #hero .container{
        flex-direction: column;
    }
    .hero-image{
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    #contact .container {
        text-align: center;
        display: block;
        
    }
}




